* {
	padding: 0;
	margin: 0;
}

/* halaman beranda */

.header{
	margin-top: 15px;
}

.judul1{
	margin-right: 200px;
}

.nav .nav-item{
	padding-left: 50px;
	align-items: center;
}

.login1{
	margin-left: 180px;
}


.home-nav-link{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.home-nav-link:hover::after{
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.content{
	margin-left: 12px;
	margin-top: 150px;
}

.content img {
	display: inline-block;
	width: 70%;
}

.login{
	border-radius: 40px;
	width: 150px;
}

.beli{
	width: 150px;
	height: 50px;
	border-radius: 40px;
}

.content h1{
	font-weight: bold;
}


/* halaman toko*/

.nav-toko .nav-link{
	color: black;
	text-decoration: none;
}

.nav-toko .nav-link:hover::after{
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 9%;
}

.kartu {
	display: inline-flex;
}

.toko-beli{
	border-radius: 40px;
}

.toko-keranjang{
	border-radius: 40px;
}

.kartu1 .card-body .harga{
	margin: 50px;
}

.kolom1 .nama-ikan {
	margin: 40px;
}

.kartu2 .card-body .harga{
	margin: 50px;
}

.kolom2 .nama-ikan {
	margin: 40px;
}

.kartu3 .card-body .harga{
	margin: 50px;
}

.kolom3 .nama-ikan {
	margin: 40px;
}

.kartu1 .gambar1{
	width: 100%;
}

.kartu2 .gambar2{
	width: 97%;
}

.kartu3 .gambar3{
	width: 100%;
}



/* halaman login */
.kolom1-login{
	margin: 20px;
	margin-left: 100px;
}

.kolom1-login h1, h4, label, span{
	font-weight: bold;
}

.kolom1-login .tbl-google {
	border-radius: 40px;
	color: black;
	font-weight: bold;
	border: solid #E8E8E8;
	width: 100%;
	height: 45px;
}

.or {
	text-align: center;
	font-weight: bold;
	border-bottom: 2px solid rgb(245 239 239);
	line-height: 0.1em;
	margin: 25px 0;
}
.or span {
	background: #fff;
	padding: 0 10px;
}

.input-eml {
	border-radius: 40px;
	width: 100%;
	height: 43px;
}

::placeholder {
	padding-left: 20px;
	font-size: 18px;
}

.input-pswd {
	border-radius: 40px;
	width: 100%;
	height: 43px;
}

.lupa-pswd{
	padding-left: 350px;
}

.lupa-pswd a {
	text-decoration: none;
}


.kolom1-login .sign-google{
	display: inline-block;
	font-size: 10px;
}

.login-btn {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}

.buat-akun a{
	text-decoration: none;
}

.bg-login{
	background-image: cover;
	width: 1220px;
	height: 100%;
	margin: -10px;
}

/* login device responsive */

/* untuk laptop */

@media (min-width: 992px) {
	.bg-login {
		width: 800px;
		height: 785px;
	}
}


/* untuk mobile */
@media (max-width: 768px) {
	.kolom2-login, .bg-login {
		width: 0%;
		height: 0%;
		display: none;
	}

	.kolom1-login{
		margin: 10px;
		margin-left: 15px;
	}

	.login-btn {
		border-radius: 40px;
		width: 100%;
		height: 40px;
	}

	.lupa-pswd{
		display: inline-block;
		padding-left: 250px;
	}

}


/* halaman register */

.kolom1-register{
	margin: 80px;
	margin-left: 100px;
}

.input-nama-depan {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}

.input-nama-belakang {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}

.input-email {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}

.input-paswd {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}


.kolom1-register .sudahpunya-akun, p, h1, h4{
	font-weight: bold;
}

.sudahpunya-akun a {
	text-decoration: none;
}

.register-btn {
	border-radius: 40px;
	width: 100%;
	height: 40px;
}

/* register device responsive */

/* untuk laptop */

@media (min-width: 992px) {
	.bg-register {
		width: 800px;
		height: 785px;
	}
}


/* untuk mobile */
@media (max-width: 768px) {
	.kolom2-register, .bg-register {
		width: 0%;
		height: 0%;
		display: none;
	}

	.kolom1-register{
		margin: 20px;
		margin-left: 30px;
	}

	::placeholder {
		padding-left: 10px;
		font-size: 14px;
	}

	.register-btn {
		border-radius: 40px;
		width: 100%;
		height: 40px;
	}

	.lupa-pswd{
		display: inline-block;
		padding-left: 250px;
	}

}